
html{
  background-color: rgba(102, 138, 82, 0.904);
}

h1{
  font-size: 30pt;
  font-family:Pixel;
  position: absolute;
  overflow: hidden;
  top: 8%;   /* coloca no meio da altura */
  left: 50%;  /* coloca no meio da largura */
  transform: translate(-50%, -50%); /* ajusta para o centro exato */
  max-width: 100%;  /* garante que a imagem não estoure a tela */ 
  height: auto;
  }
#Logo{
  width: 300px;

}
.cenarioTodo{
  position: absolute;
  top: 55%;   
  left: 50%;  
  transform: translate(-50%, -50%); 
  max-width: 100%;  
  height: auto;
}

@media(max-width: 1024px){
  .cenarioTodo{
  position: absolute;
  top: 60%;   
  left: 50%;  
  transform: translate(-50%, -50%); 
  max-width: 100%;  
  height: auto;
}
}

@media(max-width: 1280px){
  @media (orientation: landscape){
  .cenarioTodo{
  position: absolute;
  top: 60%;   
  left: 50%;  
  transform: translate(-50%, -50%); 
  max-width: 100%;  
  height: auto;
    }
  }
}

@media(max-width: 768px){
  @media (orientation: landscape){
  .cenarioTodo{
  position: absolute;
  top: 60%;   
  left: 50%;  
  transform: translate(-50%, -50%); 
  max-width: 100%;  
  height: auto;
    }
  }
}

#cenario{
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.432);
  border-radius: 20px;
  
}

.animacao-sobe-desce {
  animation: sobe-desce 700ms ease-in-out ;
}

@keyframes sobe-desce {
  0% {
    transform: translateY(1);   
  }
  25%{
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  75%{
    transform: translateY(-30px); 
    
  }
  100% {
    transform: translateY(1);   
  }
}

#NomeDoPokemon{
  position: absolute;
  font-family: 'Pixel';
  font-size: 35pt;
  top: 17%;   /* coloca no meio da altura */
  left: 50%;  /* coloca no meio da largura */
  transform: translate(-50%, -50%); /* ajusta para o centro exato */
  max-width: 100%;  /* garante que a imagem não estoure a tela */
  padding: 20%;
  height: auto;
}
#resultado{
  position: absolute;
  top: 42%;   
  left: 50%;  
  transform: translate(-50%, -50%); 
  max-width: 100%;  
  height: auto;
}


#base{
    position: absolute;
    background-color: rgba(10, 9, 9, 0.185);
    width: 90px;
    height: 15px;
    border-radius: 150px;
    top: 52.5%;
    left: 44%;
}

.botoes{
  display: flex;
  background-size: contain; 
  justify-content: center;  
  gap: 150px;               
  margin-top: 25px;
}

.botoes img {
  display: block;
}

#botao1,#botao2,#botao3{
    cursor: pointer;
    border-radius: 100px;
}

#Meunome{
  width: 120px;
  height: 20px;
  transform: translate(10px, 135vh);
}
@font-face {
    font-family: 'Pixel';
    src: url('Fonts/Pixel.ttf');
}

#InfoDosPokemons{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  margin-top: 90vh;
}

#Quadrado1{
  padding: 10px;
  text-align: center;
  width: 30vw;
  height: 300px;
  background-color: rgba(240, 255, 241, 0.726);
  border-radius: 30px;
}
#Quadrado2{
  padding: 10px;
  text-align: center;
  width: 30vw;
  height: 300px;
  background-color: rgba(240, 255, 241, 0.726);
  border-radius: 30px;
}
#Quadrado3{
  padding: 10px;
  text-align: center;
  width: 30vw;
  height: 300px;
  background-color: rgba(240, 255, 241, 0.726);
  border-radius: 30px;
}
.Info,.Tipo,.Forca{
  margin: 2px;
  font-family:"Pixel";
  font-size: 30pt;
}

#Info,#Tipo,#Força{
  font-size: 14pt;
}

@media(max-width: 768px){
  #Info,#Tipo,#Força{
  font-size: 12pt;
}
}

hr {
  width: 100%;         /* ocupa toda a largura da caixa */
  border: none;        /* tira o estilo padrão */
  border-top: 1px solid rgb(34, 196, 42); /* cria uma linha fina cinza */
  margin: 5px 0;       /* espaço em cima e embaixo */
}